# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
prism/backend/venv/
.env

# OS files
.DS_Store

# Extension build output
extension/dist/

# Extension dependencies
extension/node_modules/

# Python venv
backend/venv/
